extends layout

block content
  script(type='text/javascript', src='/javascripts/rests-review-vis.js')
  div.address-form.input-group
    input#address.form-control(type='textbox', value='文京本郷', placeholder='地名/住所を入力')
    span.input-group-btn
      input.btn.btn-default(type='button', value='検索', onclick='getLocation()')
  .btn-group-vertical(style='position: absolute; top: 20px; left: 90px; width: 100px; height: 100px')
    カテゴリー
    button.btn.btn-primary(type='button', onclick='filter_category("全て")') 全て
    button.btn.btn-primary(type='button', onclick='filter_category("和食")') 和食
    button.btn.btn-primary(type='button', onclick='filter_category("洋食")') 洋食
    button.btn.btn-primary(type='button', onclick='filter_category("中華")') 中華
    button.btn.btn-primary(type='button', onclick='filter_category("ラーメン")') ラーメン
    button.btn.btn-primary(type='button', onclick='filter_category("イタリアン")') イタリアン
    button.btn.btn-primary(type='button', onclick='filter_category("インド")') インド
    button.btn.btn-primary(type='button', onclick='filter_category("韓国")') 韓国
  #map-canvas
