extends layout

block content
  title Restaurants in Tokyo~~~
  script(type='text/javascript', src='/javascripts/rests-review-vis.js')
  div
    input#address(type='textbox', value='文京本郷')
    input(type='button', value='検索', onclick='getLocation()')
  #map-canvas
