body {
  width: 800px;
  margin: 0 auto;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #282828;
  color: #fff;
}

a {
  color: #00B7FF;
}

h1 {
  margin-bottom: 1em;
}

#map-canvas {
  width: 800px;
  height: 600px;
}
.layer {
  position: relative;
}
.layer svg{
  position: absolute;
  top: -4000px;
  left: -4000px;
  width: 8000px;
  height: 8000px;
}

.wordcloud {
  /* position: absolute; */
  /* top: 8px; */
  /* left: 808px; */
  /* width: 545px; */
  width: 800px;
  height: 200px;
  z-index: 999999;
}

div.tooltip {
  position: absolute;
  width: 20em;
  height: auto;
  z-index: 999999999;
  padding: 1em;
  font-size: 12px;
  background: rgba(0, 0, 0, 0.5);
  border: 0px;
}

.category {
  top: 10px;
  left: 0px;
}

.tooltip ul {
  margin: 0;
  padding: 0;
}

.tooltip ul li{
  list-style: none;
  color: #666;
}
.tooltip ul li.title {
  font-weight: bold;
  font-size: 1.2em;
  color: #fff;
}
.tooltip ul li+li {
  margin-top: 1em;
}

.address-form input[type=textbox] {
  background: #202020;
  color: #fff;
}